/* .side_Bar_Container{
    width: 20%;
}

.Main_Data_Container{
    width: 80%;
} */

/* Global CSS file or component-specific styles */
.scrollbar-hidden {   
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox 
    */} 
    
.scrollbar-hidden::-webkit-scrollbar {   
    display: none; /* WebKit-based browsers */ 
}
 
