
/* Global CSS file or component-specific styles */
.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* WebKit-based browsers */
}

.register {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.code {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.chatBar {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.Side_Bar_Large{
  width: 9vw;
}
.Main_Screen_Large{
  width: 91vw;
  overflow-x: scroll;
}

.Side_Bar_Small{
  width: 18vw;
}
.Main_Screen_Small{
  width: 82vw;
  /* overflow-x: scroll;  */
}

.CustomerTestimonialReview {
  overflow-y: scroll;
}
.CustomerTestimonialReview::-webkit-scrollbar {
  width: 3px;
  background: #ffffff00;
  border-radius: 50%;
}
.CustomerTestimonialReview::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  width: 2px;
}
.CustomerTestimonialReview::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 50px;
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
}

/* Remove spinner buttons for number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}
